* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, sans-serif;
}

/*header*/
header {
  width: 100%;
  height: 600px;
  background: linear-gradient(
      to left,
      hsl(0deg 62% 21% / 76%),
      hsl(250deg 98% 42% / 58%),
      hsl(318deg 89% 56% / 24%)
    ),
    url(../assets/centrodemesa.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
}

header .portada {
  display: flex;
  height: 430px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.portada h1 {
  margin-top: 130px;
  padding: 16px;
  border: solid 1px #ffffff38;
  font-size: 50px;
  color: #fff;
  font-family: "Aref Ruqaa Ink", serif;
}

.portada h2 {
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: fangsong;
  font-size: 30px;
  font-weight: 300;
  color: #fff;
  font-variant-caps: all-small-caps;
}

/*logo*/
.logo {
  width: 15%;
  border-radius: 50%;
  margin-top: 0px;
}
/*video evento*/

.videoevent {
  display: flex;
  justify-content: center;
}
/*video*/
video::-webkit-media-controls {
  display: none;
}

/*menú burguer*/
nav {
  background: hsl(250deg 100% 21% / 95%);
  height: 60px;
  width: 100%;
  position: fixed;
}
nav ul {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 60px;
}
nav ul li a {
  color: #fff;
  font-size: 14px;
  padding: 7px 13px;
  border-radius: 0px;
  text-decoration: none;
  font-variant-caps: all-small-caps;
}
li a.active,
li a:hover {
  color: #f06b6b;
  transition: 0.5s;
}
.checkbtn {
  width: 550px;
  margin-top: 8px;
  color: #f06b6b;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}

/*main*/

main section {
  background-color: #e0dede;
}
main .contenedor_A {
  background-color: #e0dede;
}

.contenedor_A {
  display: flex;
  justify-content: space-evenly;
}

.imageportada {
  width: 45%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.imageportadaEventos {
  width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.contenedor_A .cont_descripcion {
  width: 45%;
  top: 45%;
  bottom: 45%;
}

.cont_descripcion {
  padding-top: 50px;
  padding-bottom: 50px;
  color: rgb(150, 100, 100);
  text-align: center;
  align-self: center;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  background-color: #bbb8b8;
}
/*fotitooooss*/

.divGaleria {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 10px;
  transition: 0.5s;
}

.imagenClass {
  border: solid 1px #6800009c;
  border-radius: 5px;
  padding: 15px;
  transition: 0.5s;
  width: 24%;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 15px 0 #000000c2;
}

.imagenClass img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 5px;
}

.imagenClass:hover {
  transform: scale(1.03);
  box-shadow: 0 0 35px 0 #000cba;
}
/*nosotros*/
.nosotros {
  background: #f2f2f2;
}

.nosotros__copy {
  padding-top: 50px;
  padding-bottom: 50px;
  color: rgb(150, 100, 100);
  text-align: center;
  align-self: center;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  background-color: #bbb8b8;
}

.nosotros__section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 20px 10px;
  align-items: center;
  grid-auto-rows: 1fr;  
  padding-top: 20px;
  padding-bottom: 20px;
}

.nosotros__card {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  background: #e0dede;
  box-shadow: 0 0 15px 0 #000000c2;
  border: solid 1px #6800009c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 30px;
  flex-wrap: nowrap;
  transition: 0.5s;
}
.nosotros__card:hover {
  transform: scale(1.03);
  box-shadow: 0 0 20px 0 #000cba;
}
.nosotros__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 30px;
}

.nosotros__texts {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 30px 20px;
  background-color: #e0dede;
}

.nosotros__title {
  font-size: 1.5rem;
  margin: 0 0 20px;
  align-self: center;
  color: #793434;
}

/*formulario contacto*/

.cont-ext {
  background-color: #e0dede;
  justify-content: center;
  align-items: center;
}

form {
  width: 100%;
  margin: auto;
}

.titulo {
  font-family: fangsong;
  color: #793434;
  font-size: 25px;
  text-align: center;
  background-color: #e0dede;
  padding: 20px 0 20px 0;
}
.items {
  position: relative;
  margin: 45px;
}

.items .inputItem,
textarea {
  background: none;
  color: #c6c6c6;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--colorTextos);
  resize: none;
}

.inputItem:focus,
textarea:focus {
  outline: none;
  color: rgb(73, 61, 61);
}

.inputItem:focus ~ .labelItem,
.inputItem:valid ~ .labelItem {
  position: absolute;
  top: -14px;
  font-size: 12px;
  color: #1e53ff;
}

textarea:focus ~ .labelItem,
textarea:valid ~ .labelItem {
  position: absolute;
  top: -14px;
  font-size: 12px;
  color: #1e53ff;
}

.labelItem {
  color: #904ebcc4;
  font-size: 16px;
  position: absolute;
  left: 5px;
  top: 10px;
  transition: 0.5s ease all;
  pointer-events: none;
}

button {
  background: hsl(250deg 100% 21% / 95%);;
  display: block;
  width: 100px;
  height: 40px;
  border: none;
  color: #fff;
  border-radius: 4px;
  font-size: 16px;
  margin: 10px auto;
  cursor: pointer;
}

/*footer*/

footer {
  background: linear-gradient(
      to left,
      hsl(0deg 62% 21% / 76%),
      hsl(250deg 98% 42% / 58%),
      hsl(318deg 89% 56% / 24%)
    ),
    url(../assets/centrodemesa.jpg);
  padding: 10.5px;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  justify-content: space-evenly;
  display: flex;
}
.contenedorfooter {
  display: flex;
  justify-content: space-evenly;
}
.buttons {
  display: flex;
  justify-content: space-around;
}

.buttons a {
  text-decoration: none;
  font-size: 14px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #0a19ee;
  color: #f1f1f1;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease-in-out;
  margin-right: 30px;
}
.buttons a:hover {
  transform: scale(1.2);
}
.footersolicite {
  align-self: center;
  transition: all 0.4s ease-in-out;
}
.footersolicite a {
  background: none;
  color: #f9f9fd;
  transition: 0.4s;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  font-variant-caps: all-small-caps;
}
.footersolicite a:hover {
  transform: scale(1.2);
}

/*terminafooter mains*/

/*@MEDIA 575/750/900 PX
LA GALERÍA CAMBIA HASTA 575px
EL MENÚ DESPLEGABLE 750px*/

@media screen and (max-width: 575px) {
  .portada h1 {
    font-size: 35px;
    margin-top: 60px;
  }

  .portada h2 {
    font-size: 20px;
  }

  .imageportada {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 99%;
  }
  .imagenportadaEventos {
    margin-bottom: 20px;
    width: 99%;
  }
  .contenedor_A .cont_descripcion {
    width: 95%;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .imagenClass  /*Galeria */ {
    width: 95%;
  }

  .imagenClass:hover {
    transform: scale(1.03);
  }

  .buttons a {
    margin-right: 15px;
  }
  .logo {
    width: 30%;
  }
  .footersolicite a {
    font-size: 12px;
  }
}
@media (max-width: 750px) {
   .checkbtn {
    display: block;
  }
  header {
    height: 50%;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: hsl(250deg 100% 21% / 95%);
    top: 60px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  li a:hover,
  li a.active {
    background: none;
    color: #f06b6b;
  }
  #check:checked ~ ul {
    left: 0;
  }
  .contenedor_A .cont_descripcion {
    width: 95%;
    margin: 10px;
  }
  .imageportada {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .section .contenedor_A {
    background-color: #e0dede;
  }
  .portada h1 {
    margin-top: 60px;
  }
}

@media screen and (max-width: 900px) {
  header {
    background-position: center;
  }
  nav ul li a {
    font-size: 16px;
  }
  .contenedor_A {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contenedor_A .cont_descripcion {
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .imageportada {
    width: 90%;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .buttons {
    display: flex;
  }
}

